<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input #searchString>
<!--TODO: bind select's model to searchCategory-->
<select #searchCategory>
	<option *ngFor = "let cat of searchCategories">{{cat}} </option>
	<!--TODO: loop over searchCategories to create dropdown options-->
	<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
</select>
<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light" (click)='search(searchString.value, searchCategory.value)'>Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<div>
	<app-carousel *ngIf="searchCategory.value !== 'track'" [resources]="resources" [carouselId]="'carouselId'"></app-carousel>
</div>
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<div>
	<app-track-list *ngIf="searchCategory.value === 'track'" [tracks]="resources"></app-track-list>
</div>